
.container-center{
    max-width: 1024px;
    margin: 0 auto;
    
}


.page__header {
    overflow: hidden;
}

.home-button a {background-color: #25C389;}
.portfolio-button a {background-color: #FFB901;} 
.blog-button a {background-color: #DE6262;} 
.quoVadis-button a {background-color: #19B2DE;} 
.chat-button a {background-color: #265787;}

.page__header-menu a:hover {
    filter: brightness(1.2);
    cursor: pointer;
}


.page__content {
    background-color: rgb(235, 235, 235);
}


.page__content .backgrond-img{
    background-image: url("../icons/banner 1.jpg");
    width: 1024px;
    height:512px
}


.content_list {
    padding-top: 200px;
    padding-left: 50px;
}

.content_list div {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding:18px 10px;
    margin-bottom: 4px;
}

.content--metrostyle {
    border-left: 5px solid #186AA2;
    width: 171px;
}

.content--quick_onTheFeet {
    border-left: 5px solid #DE6262;
    width: 236px;
}
.content--reinvented {
    border-left: 5px solid #FFB901;
    width: 315px;
}

.page__intro {
    text-align: center; 
    padding: 60px 0;
}


.title_metrolics {
    color: #1EAFDE;
    font-weight: 350;
    display: inline; 
}


.page__intro-sub-header{
text-align: center;
margin-bottom: 31px;
}


.content .the_icon .icon-box {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 0;

    border-radius: 2px;
    border: 3px solid; 
}

.content .the_icon .web_solution_icon.icon-box{border-color: rgb(255,185,1);}
.content .the_icon .photography_icon.icon-box{border-color: #25C389;}
.content .the_icon .app_development_icon.icon-box{border-color: rgb(222,98,98);}
.content .the_icon .ux_design_icon.icon-box{border-color: #1596BD;
    ;}



.the_article h3 {
    margin: 10px 0;
    text-align: center;
}
/* 
.page__blog {
} */

.page__blog-header {
    text-align: center; 
    padding-top: 40px; 
    padding-bottom: 32px;
}

.page__blog-content01 {
    position: relative;
    width: 300px;
    overflow: hidden;
}

.page__blog-date {
    position: absolute;
    top: 0px; 
    left: 0px;
    background: #D8605F; 
    color: white;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.1;
    font-weight: bold;
    text-align: center;
    z-index: 10; 

    width: 60px;
    height: 40px;
    padding: 4px;
}

.blog-date-day {
    display: block;

    font-size: 1rem;
    font-weight: 200;
}
.blog-date-month, .blog-date-year {
    font-size: 0.5rem;
    font-weight: 100;
}

.page__blog-index {
    background: #19B2DE;
    color: white;
    padding: 10px 15px; 
    text-align: left;
    font-size: 14px;
}

.blog-index-desc {
    font-size: 0.7rem;
    opacity: 0.8; 
    margin-top: 5px;
    display: block;
    color: white;
    font-weight: 100;

    margin: 0;
}

.page__blog-index {

    position: relative;

    background: #19B2DE;
    color: white;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    /* display: flex;  */
    align-items: center; 
    justify-content: space-between;
}

.blog-index-title {
    font-size: 1rem;
    font-weight: 200;
    margin: 0;

    color: #fff;
}

.blog-index-icon {

    position: absolute;
    top: 10px;
    right: 10px;

    width: 28px; 
    height: 28px;
    background: #1596BD;
    border-radius: 4px;
}

.portfolio-content01, .portfolio-content02,
.portfolio-content03, .portfolio-content04,
.portfolio-content05, .portfolio-content06 {
    width: 320px;
    height: 256px;
    margin: 0 auto;
}


.page__portfolio-header{
    text-align: center;
    padding-top: 64px;
    padding-bottom: 32px;
}

.page__client-header{
    text-align: center;
    margin-top: 64px;
    margin-bottom: 0;
}

.clients {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px;
}

.client {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 179px; 
    height: 128px; 
    background-color: #F3F3F3;
    row-gap: 32px;
}

.client img {
    max-width: 80%; 
    max-height: 80%;
    display: block; 
}


.page__footer--home{
    background-color: #0E2E4E;
    color: white;
}

.alf-ceo-img {
    width: 118px; 
    height: 118px;
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    margin: 0;
}

.footer__alf {
    display: flex;
    align-items: center; 
    gap: 32px; 
    background-color: #0E2E4E;
    color: white;
    padding: 20px 20px 0 20px;
    border-radius: 10px; 
    margin-left: 240px;
}

.alf-des {
    display: block;
    font-size: 14px;
    line-height: 1.6;
    max-width: 600px; 
    color: white;
    font-weight: 100;
}


.alf-underline {
    border: none;
    width: 200px;
    height: 3px;
    background-color: #FFB901;
    margin-left: 410px;
    margin-bottom: 32px;
}

.aboutUs_title{color: #FFB901; margin: 0 auto;}
.instagram_title{color: #DE6262; margin: 0 auto;}
.mastrodon_title{color: #19B2DE; margin: 0 auto;}
.trackUs_title{color: white; margin: 0 auto;}


.footer__aboutUs {
    width: 232px;
    height: 285.04px;
    margin-left: 208px;
    margin-top: 5px;
}

.aboutUs_1st_desc,
.aboutUs_2nd_desc {
    color: white;
    display: block;
    margin-top: 10px;
}


.footer__instagram {
    width: 232px;
    height: 263px;
    margin-top: 5px;
}

.footer__mastrodon {
    width: 320px;
    height: 365px;
    margin-top: 5px;
}

.mastrodon_id {
    display: inline-block;
    color: #1BADE6;
    font-size: 0.7rem;
}

.mastrodon_toot {
    color: white;
    line-break: auto;
    margin-top: 10px;
}       

.footer__trackUs {
    width: 144px;
    height: 176px;
    margin-top: 5px;
}

.facebook_icon, .twitter_icon,
.instagram_icon, .pinterest_icon,
.linkedin_icon {
    width: 32px;
    height: 32px;
}

.email-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    background: #DE6262;
    border-radius: 2px; 
    overflow: hidden; 
    width: 144px;
    height: 32px;
}

.email-input {
    flex: 1; 
    border: none;

    font-size: 11px;
    background: transparent;
    color: white;
    outline: none; 
}

.email-input::placeholder {
    color: rgba(255, 255, 255, 0.8); 
    padding-right: 0px;
    margin-right: 0px;
}

.email-button {
    background: #FFB901;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 2px 2px 0; 
    width: 32px;
    height: 32px;
    padding-left: 0px;
}

.email-button img {
    width: 20px; 
}


/************ Mobile ************/

@media screen and (max-width: 40em){

    .container-center{
        max-width: 400px;
    }


    .m-hide{
        display: none !important;
    }

    .page__intro-contents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
        align-items: left;
    }
    
    .content{
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .page__intro-content {
        flex-direction: row; 
        align-items: left;
        text-align: left;
    }

    .the_article{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .footers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 40px;
    }

    .icons{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .row{
        max-width: 70rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin: 0 auto;
    }
}


/************ Tablet ************/

@media screen and (min-width: 40em) and (max-width: 64em){

    .container-center{
        max-width: 680px;
    }

    .page__header {
        flex-direction: column;
        text-align: center;
    }

    .page__header-menu {
        width: 100%;
        justify-content: center;
    }

    .page__header-menu div {
        flex: 1;
        padding: 10px 15px;
    }

    .page__header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 1rem 2rem;
        background: white; 
        color: black;
        position: relative;
    }
/*     
    .page__header-logo-icon {
      
        
    }
     */
    .page__header-logo {
        font-size: 1.8rem;
        font-weight: bold;
        color: black;
    }
/*     
    .page__header-menu-icon {
      
    } */
    
    .page__header-menu {
        display: flex;
        justify-content: flex-end; 
        gap: 5px;
        flex: 1;
    }
    
    .page__header-menu div {
        flex: 1;
        text-align: center;
        padding: 15px 20px;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px;
        margin-top: 40px;
    }

    .blog-first {
        grid-column: span 2; 
    }

    .page__intro-contents {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 30px;
        align-items: start;
        justify-content: center;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .the_icon {
        flex-shrink: 0; 
    }

    .the_article{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .clients{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .footers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .minions{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .icons{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .blog-row-span{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .m-row-span{
        grid-column-start: 1;
        grid-column-end: -1;
    }
}


/************ Desktop ************/

@media screen and (min-width: 64em){

    .page__header .container-center{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        position: relative;
    }


    .page__header .container-center a{
        height: 96px;
    }

    
.page__header-logo-icon a{
    padding-top: 50px;
}

.page__header-logo {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 10px;
}

.page__header-menu-icon {
    display: inline-block;
}

.page__header-menu {
    display: flex;
}


.page__header-menu .header-menu-btn a{
    width: 134px;
    padding-top: 60px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}


.page__intro-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;    
}



.page__intro-contents .the_icon svg{
    width: 54px;
    height: 54px;
    margin: 0 auto;
}




    .blogs{
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        gap: 60px;
        justify-content: center;
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-content: center;
    }

    .clients{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        margin: 40px 209px 63px 208px;
        display: flex;
        justify-content: center;
    } 

    .footers{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 0;
    }

    .minions{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        margin-top: 10px;
    }

    .icons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        margin-top: 11.84px;
    }
}